@import "tailwindcss";

@theme {
    --color-navy: #0b1b25;

    --breakpoint-3xl: 130rem;
    --breakpoint-4xl: 140rem;

    --shadow-left: rgba(11, 27, 37, 0.4) -5px 5px,
        rgba(11, 27, 37, 0.3) -10px 10px,
        rgba(11, 27, 37, 0.2) -15px 15px,
        rgba(11, 27, 37, 0.1) -20px 20px,
        rgba(11, 27, 37, 0.05) -25px 25px;

    --spacing-section: 6vw;
    --spacing-block: 3vw;
}

html {
    background-color: var(--color-slate-400);
}